# Versiones de los contenedores
PHP_VERSION=8.4
ALPINE_VERSION=3.21
MARIADB_VERSION=11.4
REDIS_VERSION=7
PHPMYADMIN_VERSION=latest
PHPREDISADMIN_VERSION=latest
NGINX_VERSION=mainline
HTTPS_PORTAL_VERSION=1

# Variables de configuración
MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=plantilla-laravel
MYSQL_USER=plantilla-laravel
MYSQL_PASSWORD=12345Abcde

# Prefijo para los contenedores
COMPOSE_PROJECT_NAME=plantilla-laravel

# Nombre de dominio
DOMAIN=plantilla-laravel.test

# Sitios web
HTTPS_PORTAL_SITES=${DOMAIN} -> http://nginx:80, www.${DOMAIN} => https://${DOMAIN}, phpmyadmin.${DOMAIN} -> http://phpmyadmin:80,
HTTPS_PORTAL_STAGE=local

# Servidor de correo saliente en producción
POSTFIX_ALLOWED_SENDER_DOMAINS=${DOMAIN}
